// Here you can add other styles

a {
  color: #206209;
  font-weight: 600;
}

a:hover {
  color: #206209;
}

.formLink a:hover {
  color: #206209;
}

.formLink .nav-link {
  padding: 0.5rem 0rem !important;
}

.formLink .nav-justified .nav-item {
  padding: 0rem 0.2rem;
}

.formLink .progress-bar {
  background-color: #228541 !important;
  border-color: #206209 !important;
}

.formLink .progress {
  background-color: #c2cbd3 !important;
  border-color: #a7afb7 !important;
}

.contentForm h2,
.contentForm h3,
.contentForm h6 {
  color: black;
}

.contentForm {
  color: black;
}
.contentForm .nextButton {
  background-color: #228541 !important;
  border-color: #206209 !important;
}

.contentForm .submitButton {
  background-color: #228541 !important;
  border-color: #206209 !important;
}

.contentForm .uploadButton {
  background-color: #228541 !important;
  border-color: #206209 !important;
}

.requestTaxExemptionButton {
  border-color: #206209 !important;
}

.requestTaxExemptionButton:hover {
  background-color: #228541 !important;
}

.TrackingSystem .trackingTaxButton {
  background-color: #228541 !important;
  border-color: #206209 !important;
}

.TrackingSystem .trackingTaxButton .trackingSearchIcon {
  margin: 0rem 0 !important;
}

.progressTrack .progress {
  background-color: rgb(217, 217, 217) !important;
}

.progressTrack .bg-success {
  background-color: #228541 !important;
}

.taxExemptionProgress,
.taxExemptionDetails,
.taxExemptionShipping {
  border: 3px solid !important;
  border-color: #ced2d8 !important;
  background-color: transparent !important;
}

.taxExemptionProgress .card-header,
.taxExemptionDetails .card-header,
.taxExemptionShipping .card-header {
  background-color: transparent !important;
}

.taxExemptionShipping .uploadReceiptButton {
  background-color: #228541 !important;
  border-color: #206209 !important;
}

.required-text {
  color: red;
}
